NODE_ENV=development
PORT=4000
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000

# Supabase Auth Configuration
NEXT_PUBLIC_SUPABASE_URL= 

MAX_CONCURRENT_EXECUTIONS=10
MAX_EXECUTIONS_PER_USER=2
EXECUTION_TIMEOUT_MS=15000
NOTEBOOK_IDLE_TIMEOUT_MS=1800000
DOCKER_NETWORK=none
